IDENTIDADE_DB_NAME=identidade_db
IDENTIDADE_DB_PASSWORD=troque_esta_senha_identidade

CATALOGO_DB_NAME=catalogo_db
CATALOGO_DB_PASSWORD=troque_esta_senha_catalogo

VENDAS_DB_NAME=vendas_db
VENDAS_DB_PASSWORD=troque_esta_senha_vendas

PAGAMENTO_DB_NAME=pagamento_db
PAGAMENTO_DB_PASSWORD=troque_esta_senha_pagamento

NOTIFICACAO_DB_NAME=notificacao_db
NOTIFICACAO_DB_PASSWORD=troque_esta_senha_notificacao
